<% opts = section_form_defaults(Admin::TrafficCount.new, @section).merge(@section) %>
<% content_for :csv_fields do %>
	<div class="fmx_csv_uploader_field" data-name="<%= t 'app.admin.views.traffic_disruptions.fields.block_research' %>" data-field="block_research" data-pos="0"></div>
	<div class="fmx_csv_uploader_field" data-name="<%= t 'app.admin.views.traffic_disruptions.fields.street_research' %>" data-field="street_research" data-pos="1"></div>
	<div class="fmx_csv_uploader_field" data-name="<%= t 'app.admin.views.traffic_disruptions.fields.source' %>" data-field="source" data-pos="2"></div>
	<div class="fmx_csv_uploader_field" data-name="<%= t 'app.admin.views.traffic_disruptions.fields.vehicle_type' %>" data-field="vehicle_type" data-pos="3"></div>
	<div class="fmx_csv_uploader_field" data-name="<%= t 'app.admin.views.traffic_disruptions.fields.started_at' %>" data-field="started_at" data-pos="4"></div>
	<div class="fmx_csv_uploader_field" data-name="<%= t 'app.admin.views.traffic_disruptions.fields.ended_at' %>" data-field="ended_at" data-pos="6"></div>
	<div class="fmx_csv_uploader_field" data-name="<%= t 'app.admin.views.traffic_disruptions.fields.more_than_five_secs' %>" data-field="more_than_five_secs" data-pos="8"></div>
	<div class="fmx_csv_uploader_field" data-name="<%= t 'app.admin.views.traffic_disruptions.fields.disruption_type' %>" data-field="disruption_type" data-pos="9"></div>
	<div class="fmx_csv_uploader_field" data-name="<%= t 'app.admin.views.traffic_disruptions.fields.blocked_lanes' %>" data-field="blocked_lanes" data-pos="10"></div>
	<div class="fmx_csv_uploader_field" data-name="<%= t 'app.admin.views.traffic_disruptions.fields.vehicles_affected' %>" data-field="vehicles_affected" data-pos="11"></div>
	<div class="fmx_csv_uploader_field" data-name="<%= t 'app.admin.views.traffic_disruptions.fields.slowed_or_stop' %>" data-field="slowed_or_stop" data-pos="12"></div>
	<div class="fmx_csv_uploader_field" data-name="<%= t 'app.admin.views.traffic_disruptions.fields.notes' %>" data-field="notes" data-pos="13"></div>
<% end %>
<%= render partial: 'admin/shared/section/csv_upload', locals: { opts: opts } %>