<%= javascript_include_tag url_for(action: :password_action) %>
<div id="profile_password">
	<%= form_for @element, url: url_for(action: :update_password), html: { class: 'fmx_form', id: 'profile_password_form', method: 'post' } do |f| %>
		<fieldset>
			<div class="field">
				<label><%= t('app.admin.views.users.fields.old_password')  %></label>
				<div class="field_container">
					<%= f.password_field :old_password %>
				</div>
				<div class="clear"></div>
			</div>
			<div class="field">
				<label><%= t('app.admin.views.users.fields.new_password')  %></label>
				<div class="field_container">
					<%= f.password_field :password %>
				</div>
				<div class="clear"></div>
			</div>
			<div class="field">
				<label><%= t('app.admin.views.users.fields.password_confirmation')  %></label>
				<div class="field_container">
					<%= f.password_field :password_confirmation %>
				</div>
				<div class="clear"></div>
			</div>
			<div class="form_actions">
				<%= submit_tag t('app.admin.actions.submit'), class: 'button' %>
				<div class="clear"></div>
			</div>
		</fieldset>
	<% end %>
</div>