<% opts = section_form_defaults(Admin::Track.new, @section).merge(@section) %>
<% content_for :csv_fields do %>
	<div class="fmx_csv_uploader_field" data-name="<%= t 'app.admin.views.tracks.fields.lat' %>" data-field="lat" data-pos="8"></div>
	<div class="fmx_csv_uploader_field" data-name="<%= t 'app.admin.views.tracks.fields.lng' %>" data-field="lng" data-pos="10"></div>
	<div class="fmx_csv_uploader_field" data-name="<%= t 'app.admin.views.tracks.fields.lat_dir' %>" data-field="lat_dir" data-pos="9"></div>
	<div class="fmx_csv_uploader_field" data-name="<%= t 'app.admin.views.tracks.fields.lng_dir' %>" data-field="lng_dir" data-pos="11"></div>
	<div class="fmx_csv_uploader_field" data-name="<%= t 'app.admin.views.tracks.fields.date' %>" data-field="tracked_at_date" data-pos="3"></div>
	<div class="fmx_csv_uploader_field" data-name="<%= t 'app.admin.views.tracks.fields.time' %>" data-field="tracked_at_time" data-pos="4"></div>
<% end %>
<%= render partial: 'admin/shared/section/csv/form', locals: { opts: opts } %>