<% opts = section_form_defaults(@element, @section) %>
<% form_action_url = { action: :form_action, new_record: opts[:new_record] }.merge(opts[:params]) %>
<% form_action_url.merge!(id: @element.id) unless @element.new_record?  %>
<%= javascript_include_tag url_for(form_action_url) %>
<%= render partial: 'admin/shared/section/header', locals: { opts: opts } %>
<%= form_for @element, url: url_for(opts[:form_url]), html: { class: 'fmx_form', id: opts[:form_id], method: 'post' } do |f| %>
	<fieldset>
		<div class="field">
			<label><%= t('app.admin.views.cities.fields.name')  %></label>
			<div class="field_container">
				<%= f.text_field :name %>
			</div>
			<div class="clear"></div>
		</div>
		<div class="field">
			<label><%= t('app.admin.views.cities.fields.city_time_zone') %></label>
			<div class="field_container">
				<%= f.select :city_time_zone, Admin::City.timezones_select, prompt: true %>
			</div>
			<div class="clear"></div>
		</div>
		<div class="field">
			<label><%= t('app.admin.views.cities.fields.location')  %></label>
			<div class="field_container" id="cities_coordinates_selector"></div>
			<div class="clear"></div>
		</div>
		<div class="field">
			<label><%= t('app.admin.views.cities.fields.language_id')  %></label>
			<div class="field_container">
				<%= f.select :language_id, Admin::Language.select_list, prompt: true %>
			</div>
			<div class="clear"></div>
		</div>
		<div class="field">
			<label><%= t('app.admin.views.cities.fields.population')  %></label>
			<div class="field_container">
				<%= f.text_field :population %>
			</div>
			<div class="clear"></div>
		</div>
		<div class="field">
			<label><%= t('app.admin.views.cities.fields.population_density')  %></label>
			<div class="field_container">
				<%= f.text_field :population_density %>
			</div>
			<div class="clear"></div>
		</div>
		<div class="field">
			<label><%= t('app.admin.views.cities.fields.area')  %></label>
			<div class="field_container">
				<%= f.text_field :area %>
			</div>
			<div class="clear"></div>
		</div>
		<div class="field">
			<label><%= t('app.admin.views.cities.fields.us_exchange_rate')  %></label>
			<div class="field_container">
				<%= f.text_field :us_exchange_rate %>
			</div>
			<div class="clear"></div>
		</div>
		<div class="field">
			<label><%= t('app.admin.views.cities.fields.gdp')  %></label>
			<div class="field_container">
				<%= f.text_field :gdp %>
			</div>
			<div class="clear"></div>
		</div>
		<div class="field">
			<label><%= t('app.admin.views.cities.fields.big_mac_index')  %></label>
			<div class="field_container">
				<%= f.text_field :big_mac_index %>
			</div>
			<div class="clear"></div>
		</div>
		<div class="form_actions">
			<%= submit_tag t('app.admin.actions.submit'), class: 'button' %>
			<div class="clear"></div>
		</div>
	</fiedset>
<% end %>