<!DOCTYPE html>
<html>
	<head>
		<title><%= t 'app.title' %></title>
		<%= render partial: 'shared/ui/meta' %>
		<%= render partial: 'shared/ui/stylesheets' %>
		<%= render partial: 'shared/ui/javascripts' %>
		<%= yield :head %>
	</head>
	<body>
		<%= render partial: 'shared/ui/main_loader' %>
		<div id="container">
			<%= render partial: 'shared/ui/header/header' %>
			<div id="wrapper"></div>
		</div>
	</body>
</html>